* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("dota-pic.jpg");
  background-color: #222;
  background-position: center;
  background-size: contain;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  color: whitesmoke;
}

h1 {
  margin: 5rem auto;
  width: 80%;
  font-size: 3rem;
  text-align: center;
}

table,
th,
td {
  border: 1px solid white;
  text-align: center;
}

td {
  width: 80px;
}

table {
  margin: 3rem auto;
  width: 320px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cdown {
  font-size: 3.6rem;
  margin: auto;
}

.cdown-title {
  font-size: 1.3rem;
  margin: auto;
}

#bd-message {
  display: none;
}

@media only screen and (max-width: 1024px) {

  body {
    background-image: url("dota-pic.jpg");
    background-position: center;
    background-size: contain;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
  }

  h1 {
    margin: 2rem auto;
    width: 80%;
    font-size: 3rem;
    text-align: center;
  }

  table,
  th,
  td {
    border: 1px solid white;
    text-align: center;
  }

  td {
    width: 80px;
  }

  table {
    margin: 3rem auto;
    width: 320px;
  }

  .cdown {
    font-size: 3.6rem;
    margin: auto;
  }

  .cdown-title {
    font-size: 1.3rem;
    margin: auto;
  }



}
