* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("dota-pic.jpg");
  background-position: center;
  background-size: contain;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  color: whitesmoke;
}

h1 {
  margin: 2rem auto;
  width: 80%;
  font-size: 3rem;
}

table, th, td {
  border: 1px solid white;
  text-align: center;
}

td {
  width: 80px;
}

table {
  margin: 6rem auto;
  width: 320px;
}

.cdown {
  font-size: 3.6rem;
  margin: auto;
}

.cdown-title {
  font-size: 1.3rem;
  margin: auto;
}

@media only screen and (max-width: 1024px){

  body {
    background-image: url("dota-pic.jpg");
    background-position: center;
    background-size: contain;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
  }

  h1 {
    margin: 2rem auto;
    width: 80%;
    font-size: 3rem;
  }

  table, th, td {
    border: 1px solid white;
    text-align: center;
  }

  td {
    width: 80px;
  }

  table {
    margin: 6rem auto;
    width: 320px;
  }

  .cdown {
    font-size: 3.6rem;
    margin: auto;
  }

  .cdown-title {
    font-size: 1.3rem;
    margin: auto;
  }



}
